# The # character at the beginning of a line indicates a comment. Use
# comments to describe your configuration.
input {
    redis {
        id => "input_redis"
        host => "redis"
        port => 6379
        data_type => "list"
        codec => "plain"
        key => "datos"
        db => 3
    }
}
# The filter part of this file is commented out to indicate that it is
# optional.

filter {

    ruby {
        code => '
            if event.to_hash.to_s.length > 20000000
                event.cancel
                logger.info("#413AVOID: evento cancelado")
            end
        '
    }
}

output {
    elasticsearch {
        hosts => [ "es01:9200" ]
        index => "dato-%{+YYYY.MM.dd}"

    }
}