# The # character at the beginning of a line indicates a comment. Use
# comments to describe your configuration.
input {
    file {
         path => "/var/log/MensajeMQEjemplo"
    }
}
# The filter part of this file is commented out to indicate that it is
# optional.

filter {

    grok {
        id => "parser_message"
        patterns_dir => ["/usr/share/logstash/config/patterns"]
        match => { "message" => "%{BASE10NUM:VRSMQS}%{NOTSPACE:USUORI}%{SPACE}%{NOTSPACE:USUDES}%{SPACE}%{NOTSPACE:TIPOREG}%{SPACE}%{BASE10NUM:VRSMIS}%{SPACE}%{NUMPAQ:NUMPAQID}%{SPACE}%{NOTSPACE:SITEINS}%{SPACE}%{TIPCOM:TIPCOM}%{NOTSPACE:PROCES}%{SPACE}%{NOTSPACE:NOMJOB}%{SPACE}%{NOTSPACE:NUMJOB}%{SPACE}%{FECHAHOST:RESTO}" }
    }

    date {
        id => "calculate_date_field_2"
        ##                   2023-10-26-17.55.28.500000 
        match => [ "RESTO", "yyyy-MM-dd-HH.mm.ss.SSSSSS" ]
        timezone => "Europe/Madrid"
        target => "timestamp"
    }

    mutate {
        id => "remove_message_field"
        remove_field => [ "message" ]

    }



}

output {

    stdout {

    }

    elasticsearch {
        id => "ingest_elasticsearch"
        hosts => [ "es01:9200" ]
        index => "dato-%{+YYYY.MM.dd}"

    }
    
}